# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Packaging
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/
*.py

# Environment variables / secrets
.env
.env.*

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db